@font-face {
    font-family: 'vintagesregular';
    src: url('../_fonts/vintages-webfont.woff2') format('woff2'),
         url('../_fonts/vintages-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    background-image: url(../_imagens/BG-branco.png);
    padding: 0;
    margin: 0;
}
#principal{
    width: 1024px;
    margin: auto;
}
header {
    background-image: url(../_imagens/degrade.png);
    background-repeat: no-repeat;
    height: 50px;
    background-position:center;
    width: 1024px;
    margin: auto;
    position: -ms-page;
}
.home_home{
    background-image: url(../_imagens/degrade_home.png);
}
header p{
    text-align: center;
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-family: "vintagesregular";
    font-size: 35px;
    padding-top: 5px;
}
.logo{
    background-size: 50px;
    position: relative;
}
.janela-registro h1{
    font-family: "vintagesregular";
    color:#4a413c;
    text-decoration: none;
    text-align: center;
    font-size: 45px;
}
.janela-login input{
    font-family:"vintagesregular";
    width:350px;
    height: 35px;
    position: static;
    font-size: 20px;
    text-align: center;
    color:#4a413c;
    border-image:url(../_imagens/traco.png);
    border-image-slice: 5;
}
.janela-registro input{
    font-family:"vintagesregular";
    width:350px;
    height: 35px;
    position: static;
    font-size: 20px;
    text-align: center;
    color:#4a413c;
    border-image:url(../_imagens/traco.png);
    border-image-slice: 5;
}
.janela-registro{
    font-family:"vintagesregular" ;
    font-size: 20px;
    color:#4a413c; 
    text-align: center;
}
form button{
   position: absolute;
   margin-top: 10px;
}
footer{
    text-align: center;
    font-family:"vintagesregular";
    color:#4a413c;
    letter-spacing: 5px;
    height: 0px;
    text-transform: uppercase;
    clear: both;
    padding-top: 30px;
}
.footer_{
    text-align: center;
    font-family:"vintagesregular";
    color:#4a413c;
    letter-spacing: 5px;
    height: 0px;
    text-transform: uppercase;
    clear: both;
    padding-top: 30px;
    position: absolute;
    margin-left: 400px;
}
footer p{
font-size: 20px;
}
.header-nav{
    position: static;
    top:0;
    right:0;
    height: 100%;
    text-align: center;
    z-index: 10;
}
.header-nav ul{
    margin:0;
    padding: 0;
    z-index: 10;
}
.header-nav li{
    display: inline-block;
    list-style: none;
    padding: 16px;
    z-index: 10;
}
.header-nav a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    font-family: Roboto;
    z-index: 10;
}
.header-nav a:hover{
    color:#dbcab0;
    z-index: 10;
}
button.slick-prev{
    font-size: 0px;
    border: none;
    width: 55px;
    height: 110px;
    background-color: transparent;
    background-image: url(../_imagens/esquerda.png);
    position:absolute;
    z-index: 9;
    top: 37%;
    left:10;
}
button.slick-next{
    font-size: 0px;
    border: none;
    width: 55px;
    height: 110px;
    background-color: transparent;
    background-image: url(../_imagens/direita.png);
    position: absolute;
    margin-left: 969px;
    z-index: 9;
    top: 37%;
}
.slider-principal{
    width: 100%!important;
}
.slick-slide.slick-current.slick-active{
    height: 500px;
    width: 1024px;
}
.slick-track{
    width: 0px;
    height: 0px;
}
.cadastrar-submit{
    text-align: center;
}
#btnconfirm{
    cursor: pointer;
}
#btnconfirm:hover{
    background-color: #ccc;
}
.tipos{
    position: static;
    top:0;
    right:0;
    text-align: center;
    background-image: url(../_imagens/degrade2.png);
    background-repeat: no-repeat;
}
.tipo ul{
    margin:0;
    padding: 0;
}
.tipos li{
    display: inline-block;
    list-style: none;
    padding: 20px;
}
.tipos a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    font-family: Roboto;
}
.tipos a:hover{
    color:#dbcab0;
}
.tipos input{
    margin-left: 150px;
    padding: 5px;
    width: 125px;
    position: static;
    font-size: 10px;
    text-align: center;
    color:white;
    border-image:url(../_imagens/traco-branco.png);
    border-image-slice: 5;
    font-family:Roboto;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;

}
.tipos input::placeholder{
    color:white;
    font-family:Roboto;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 4px;
    text-align: center;
    font-style: italic;
}
.slider{
    max-width: 1100px;
    display: flex;
}
.slider .card{
    flex: 1;
    margin: 0 10px;
    background: #fff;
}
.img:hover{
    zoom: 102%;
}
.slider .card .img{
    height: 200px;
    width: 100%;
}
.slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.slider .card .content{
    padding: 10px 20px;
}
.card .content .title{
    font-family: Roboto;
    font-size: 25px;
    font-weight: 600;
}
.card .content .sub-title{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    color: #95203a;
    line-height: 20px;
}
.card .content p{
    text-align: justify;
    margin: 10px 0;
    font-family: Roboto;
}
.card .content .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
}
.card .content .btn button{
    background: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.card .content .btn button:hover{
    transform: scale(0.9);
}
.coluna1{
    float: left;
    background-color:white;
    text-align: center;
    width: 256px;
    height: 900px;
}
.coluna2{
    float: left;
    background-color:white;
    text-align: center;
    width: 256px;
    height: 900px;
}
.coluna3{
    float: left;
    text-align: center;
    width: 256px;
    height: 900px;
}
.coluna4{
    float:left;
    text-align: center;
    width: 256px;
    height: 900px;
}
.esquerda1{
    text-align: left;
}

.imagem:hover{
    zoom: 104%;
    transition: 0.5s;  
    
}
.vestido_desc{
    text-align: center;
    font-family: Roboto;
    float: left;
    width: 50%;
    margin-top: 50px;
}
.vestido_desc h4{
    text-align: center;
}
.vestido_info{
    float: left;
    width: 50%;
    font-family: Roboto;
    margin-top: -50px;
}
.vestido_info h2{
    color: #95203a ;
    text-transform: uppercase;
    font-size: 21px;
}
.vestido_info p{
    text-align: justify;
    font-family: Roboto;
}
.vestido_info input{
    width: 60px; 
}
#escolha_tam p{
    text-align: center;
}
#escolha_tam input{
    text-align: center;
    text-transform: uppercase;
    font-family: "vintagesregular";
    color: #4a413c;
    font-size: 20px;
}
#escolha-medidas{
    text-align: center;
    width: 100px;
    margin-left: 20px;
    border: 2px dashed #4a413c;
    color: #4a413c;
    cursor: pointer;
    font-weight: bold;
}
#escolha-medidas:hover{
    background-color: #ccc;
}
.btn-add-med{
    font-family: Roboto;
    color: #4a413c;
    cursor: pointer;
    border-image:url(../_imagens/traco.png);
    border-image-slice: 5;
    margin-left: 30%;
    width: 200px;
    text-align: center;
    height: 60px;
    text-transform: uppercase;
    margin-top: 90px;
    font-weight: bold;
}
.btn-add-med:hover{
    background-color: #ccc;
}
.botaoo{
    font-family:Roboto;
    text-transform: uppercase;
    width:220px;
    height: 50px;
    color:white;
    cursor: pointer;
    text-align: center;
    margin-top: 25px;
    background-color: #95203a;
}
.botaoo:hover{
    background-color: #692332;
}
#btn-vestido{
    clear: both;
}
#btn-vestido-esq{
    float: left;
    margin-right: 20px;
    margin-left: 28px;
}
#btn-vestido-dir{
    float: left;
}
.esquerda1 h4{
    font-family: Roboto;
    text-transform: uppercase;
    
}
.preco1{
    text-decoration: line-through;
    color:#95203a ;
    font-size: 10px;
    text-transform: uppercase;
}
.esquerda1 p{
    font-family: Roboto;
    text-transform: uppercase;
    text-align: left;
}
.esquerda2 p{
    font-family: Roboto;
    text-transform: uppercase;
    text-align: left;
}
h4{
    font-family: Roboto;
    text-transform: uppercase;
    text-align: left;
}
.cadastro_esquerdo{
    text-align: center;
    float: left;
    width: 512px;
}
.cadastro_direiro{
    text-align: center;
    width: 512px;
    float: right;
}
option{
    font-family:Robuto;
    text-transform: uppercase;
    font-size: 16px;
}
.seletor{
    width:350px;
    height: 35px;
    position: static;
    color:#4a413c;

}

#btnvermais{
    width: 100px;
    text-align: center;
    height: 30px;
    background-color: #95203a;
}
.container{
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    background: linear-gradient(45deg, #95203a, #95203a);
  }
.container:hover{
    height: 360px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
}
.container .wrapper img{
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease;
}
.container:hover .wrapper img.active{
    height: 470px;
    width: 350px;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
}
.wrapper .title{
    font-family:"vintagesregular";
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    padding: 2px;
}
.wrapper .place{
    color: #fff;
    font-size: 17px;
    line-height: 0px;
    margin: 10px 0;
}
.salvar{
   text-align: center;
   margin-left: 350px;
   width: 300px;
}
.salvar input{
    font-family:"vintagesregular";
    width:150px;
    height: 35px;
    position: static;
    font-size: 20px;
    text-align: center;
    color:#4a413c;
    border-image:url(../_imagens/traco.png);
    border-image-slice: 5;
}
.adm_h1{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-family: Roboto;
    text-transform: uppercase;
    color: #4a413c;
}
.info_medidas{
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
}
.cm{
    font-size: 15px;
}
.paypal{
    text-align: center;
}
.paypal input{
    width: 220px;
    height: 50px;
    font-family: Roboto;
}
.comprimento{
    text-align: center;
    clear: both;
    width: 256px;
    margin-left: 128px;
}
.comprimento input{
    border-image: url(../_imagens/traco.png);
    border-image-slice: 5;
    width: 150px;
    height: 35px;
}
.comprimento label{
    text-align: center;
    color: #95203a;
    font-size: 21px;
    text-transform: uppercase;
}
#ajuste-medidas-esq{
    float: left;
    width: 256px;
}
#ajuste-medidas-esq input{
    border-image: url(../_imagens/traco.png);
    border-image-slice: 5;
    width: 150px;
    height: 35px;
}
#ajuste-medidas-esq label{
    text-align: center;
    color: #95203a;
    font-size: 21px;
    text-transform: uppercase;
}
#ajuste-medidas-dir{
    float: right;
    width: 256px;
}
#ajuste-medidas-dir input{
    border-image: url(../_imagens/traco.png);
    border-image-slice: 5;
    width: 150px;
    height: 35px;
}
#ajuste-medidas-dir label{
    text-align: center;
    color: #95203a;
    font-size: 21px;
    text-transform: uppercase;
}
.edit{
    z-index: 3000;
    cursor: pointer;
    position: absolute;
    margin-top: 100px;
    left: 512;
    
}
.editar button{
    border: 0px;
    background-color: transparent;
    top:0
}
.editar button:active{
    text-decoration: none;
}
.upload_form{
    font-family: Roboto;
    text-transform: uppercase;
    text-align: center;
}
.upload_form input{
    font-family:"vintagesregular";
    width:150px;
    height: 35px;
    position: static;
    font-size: 20px;
    text-align: center;
    color:#4a413c;
    border-image:url(../_imagens/traco.png);
    border-image-slice: 5;
}

.estoque input{
    font-family:Roboto;
    text-transform: uppercase;
    font-size: 15px;
    color:black;
}
#estoque{
    height: 30px;
    width: 100px;
}
#ajuste-medidas-esq1{
    float: left;
    width: 256px;
}
#ajuste-medidas-dir1{
    float: right;
    width: 256px;
}

.anuncio_pay{
    text-align:  center;
    font-family:"vintagesregular";
    text-transform: uppercase;
    color: #95203a;
    font-size: 38px;
}
.title_lados{
    font-family:"vintagesregular";
    color: #95203a;
    font-size: 30px;
    text-align: center;
}
.upload_info_esquerda_1{
    width: 256px;
    float: left;
}
.upload_info_direita_1{
    width: 256px;
    float: right;
}
.upload_info_esquerda_1_1{
    width: 356px;
    float: left;
}
.upload_info_direita_1_1{
    width: 156;
    float: right;
}

.upload_info_esquerdo{
    font-family:"vintagesregular";
    text-align: center;
    float: left;
    width: 512px;
    height: 400px;
    font-size: 21px;
    color: #4a413c;
}
.upload_info_esquerdo input{
    width: 150px;
    height: 35px;
    font-family:"vintagesregular";
    text-align: center;
    font-size: 20px;
    border-image:url(../_imagens/traco.png);
    border-image-slice: 5;
    color: #4a413c;
}
.upload_info_direiro{
    font-family:"vintagesregular";
    text-align: center;
    width: 512px;
    height: 400px;
    float: right;
    font-size: 21px;
    color: #4a413c;
}
.upload_info_direiro input{
    width: 150px;
    height: 35px;
    font-family:"vintagesregular";
    text-align: center;
    font-size: 20px;
    border-image:url(../_imagens/traco.png);
    border-image-slice: 5;
    color: #4a413c;
}
textarea{
    font-family:Roboto;
    text-transform: uppercase;
    width: 340px;
    height: 118px;
    position: static;
    font-size: 12px;
    text-align: justify;
    color:black;
    border-image:url(../_imagens/traco2.png);
    border-image-slice: 5;
    resize: none;
}
.upload_info_meio{
    width: 1024px;
    text-align: center;
    font-family:"vintagesregular";
    font-size: 21px;
    color: #4a413c;
}
.upload_info_meio input{
    width: 150px;
    height: 35px;
    font-family:"vintagesregular";
    text-align: center;
    font-size: 20px;
    border-image:url(../_imagens/traco.png);
    border-image-slice: 5;
    color: #4a413c;
}
.up_file{
    text-align: center;
}
.up_file input{
    font-family:"vintagesregular";
    font-size: 21px;
    color: #4a413c;
}
#file-upload-button{
    font-family:"vintagesregular";
}
